<div id='container' ng-controller = 'LinksController'>
  <!-- Your html here -->

  <h2>Links</h2>
  <label>Search: <input ng-model="searchText"></label>
    <div ng-repeat="link in data.links | orderBy: '-visits' | filter: {url: searchText} ">
      <div><h3> {{ link.title }} </h3></div>
      <div><b> {{ link.url  }} </b></div>
      <div><a href="{{ link.base_url+'/api/links/'+link.code }}">{{ link.base_url+'/api/links/'+link.code }}</a>
      {{ link.visits }}
      </div>
      <!-- {{link}} -->
    </div>

</div>
